.home-page {
  position: relative;
  background-image: url('./../../../public/bgimg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  padding-top: 15vh;
  padding-left: 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden; /* Optional: hides accidental overflow */
}


.hero-text {
  color: white;
  max-width: 600px;
}

.hero-text h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 1.5rem;
  line-height: 1.6;
  font-weight: 400;
  color: #d3d3d3;
  margin-bottom: 30px;
}

.try-btn.btn {
    background-color: #4b00ff !important;
    border: none !important;
    font-weight: bold !important;
    font-size: 1.4rem !important;
    padding: 20px 60px !important;
    border-radius: 10px !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);
  }
  